{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
    {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    {% if app.user %}
        <div class="mb-3">
            You are logged in as {{ app.user.username }}, <a href="{{ path('app_logout') }}">Logout</a>
        </div>
    {% else %}
        <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
        {% if 'dev' == app.environment %}
            <form method="post">
                <label for="inputUsername">Username</label>
                <input type="text" value="{{ last_username }}" name="username" id="inputUsername" class="form-control"
                       required autofocus>

                <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

                <button class="btn btn-lg btn-primary" type="submit">
                    Sign in
                </button>
            </form>
        {% else %}

            <script async src="https://telegram.org/js/telegram-widget.js?9" data-telegram-login="ec_enl_events_bot"
                    data-size="medium"
                    data-auth-url="https://events-4e.herokuapp.com/_telegram/{{ telegram_route_secret }}/login"
                    data-request-access="write"></script>

            <a href="{{ path('connect_google_start') }}">
                <img src="{{ asset('build/img/login-buttons/btn_google_signin_dark_normal_web.png') }}"
                     alt="{{ 'Google Login'|trans }}">
            </a>
        {% endif %}
    {% endif %}
{% endblock %}
